<h1>Edit a synth</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div class="form-group">
    <input type="name" class="form-control" id="name" placeholder=<%= text_field_tag :name, @product.name %>
  </div>
  <div class="form-group">
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
    <!-- <input type="price" class="form-control" id="price" placeholder=<%= text_field_tag :price, @product.price %> -->
  </div>
  <div class="form-group">
    <%= label_tag :stock %>
    <%= text_field_tag :stock, @product.stock %>
  </div>
  <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>
  <div class="form-group">
    <%= label_tag :image %>
    <%= text_field_tag :image, @product.image %>
  </div>
  <div>
  <%= submit_tag "Edit synth" %>
  </div>
<% end %>